<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="=stylesheet" href="../../public/css/style.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnet" href="https://fonts.googleapis.com">
    <link rel="preconnet" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mercado libre</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img width="200" src="../../images/logo-mercado-liebre.svg" alt="logo">
                <form action="" method="get">
                    <input type="text" name="" id="" placeholder="Buscar productos, marcas"/>
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <p class="text-center">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    "Compra en cuotas y sin tarjeta de credito"
                </p>
            </div>
            <div class="burger-menu">
                <a class href="#">
                    <a class="" href="#"><i class="fas fa-bars"></i></a>
                </a>
            </div>
            <div class="menu">
                <ul class="item">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="item2">
                    <li><a href="#">Crea tu cuenta</a></li>
                    <li><a href="login.html">Ingresa</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <form class="formu-login" action="/" method="get">
                
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario">
                <input type="password" name="contasenia" placeholder="Ingresa tu contraseña"> 
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <section>
            <div class="seccion-final">
                <i class="fa-solid fa-credit-card footer-icon"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebreCash tenés cuotas sin</p>
                <p>interés con tarjeta o efectivo en puntos de</p>
                <p>pago.¡Y siempre es seguro!</p>
            </div>
            <div class="seccion-final">
                <i class="fa-solid fa-gift footer-icon"></i>
                <h4>Envio gratis desde los $2.500</h4>
                <p>Solo por estar registrado en Mercado Liebre</p>
                <p>tenés envíos gratis en miles de productos. Es</p>
                <p>un beneficio de Mercado Puntos.</p>
            </div>
            <div class= "seccion-final">
                <i class="fa-solid fa-user-shield footer-icon"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>¿no te gusta?¡Devolvelo! En MercadoLiebre</p>
                <p>no hay nada que no puedas hacer porque estás</p>
                <p>siempre protegid@.</p>
            </div>
        </section>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>