<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="colorFondo">
            <div class="barraPrincipal">
                <img class="logo"src="imagenes/logoMercadoLiebre.svg" width="150px" alt="logo">
                
                <div class="barraBusqueda">
                    <form action="" method="get">
                        <input
                        type="text"
                        name=""
                        id=""
                        placeholder="Buscar productos, marcas"
                        />
                        <button class="lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <p class="text-center"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
            </div>
            <div class="menu">
                <ul class="item">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="item2">
                    <li><a href="registro">Crea tu cuenta </a><i class="fa-solid fa-address-card"></i></li>
                    <li><a href="login">Ingresa </a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
                <div class="burger-menu"><i class="fas fa-bars"></i></div>
        </nav>
        <div class="banner"><img src="imagenes/img-home-banner.jpg" alt="banner"></div>
    </header>

    <main>
        <form class="formulario" action="/" method="get">
            <label for="name">Nobre y Apellido</label>
            <input type="text" name="nombre" id="name">
            <label for="user">Nobre de usuario</label>
            <input type="text" name="usuario" id="user">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="usuario" id="date" value="1/1/2000">
            <label for="domicilio">Domicilio</label>
            <input type="text" name="casa" id="dimicilio">
            <label for="">Perfil de usuario</label>
                <div class="casilla">
                    <input type="radio" name="perfil" id="perfil" value="Compradror">
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="perfil" id="perfil" value="Vendedor">
                    <label for="vendedor">Vendedor</label>
                    </div>
            <label for="">Categorias de Interes</label>
                <div class="casilla">
                    <input type="checkbox" name="categoria">
                    <label for="">Electro</label>
                </div>
                <div class="casilla">
                    <input type="checkbox" name="categoria">
                    <label for="">Moda</label>
                </div>
                <div class="casilla">
                    <input type="checkbox" name="categoria">
                    <label for="">Hogar</label>
                </div>
                <div class="casilla">
                    <input type="checkbox" name="categoria">
                    <label for="">Juguetería</label>
                </div>
                <div class="casilla">
                    <input type="checkbox" name="categorai">
                    <label for="">Vida sana</label>
                </div>
            <div class="boton-formulario">
                <button type="submit" name="enviar">Enviar</button>
                <input type="reset" name="resetear" value="Borrar">
            </div>
        </form>
        
    </main>

    <footer>
        <div class="conteiner-fooster">
        <div class="seccion-footer">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>   
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="seccion-footer">
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>   
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="seccion-footer">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>   
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        </div>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>